{% set title = "My Project" %} {% extends "main.tpl" %} {% block
content %} {% include "components/header.html" %}

<section id="section">
    <div class="site-wrapper">
        <div class="container">
            <div class="game-over">GAME OVER</div>
            <div class="time-block">
                <div class="you-gat">You gat </div>
                <div id="level" class="level"></div>
                <div class="timer" id="timer">START</div>
<!--                <div id="totalTime" class="total-time">START</div>-->
            </div>

            <div class="error-block">
                <p id="inputError" class="input-error">Raqam kiriting brat!</p>
            </div>

            <div class="block">
                <input id="joining1" type="number" class="item">
                <span>+</span>
                <input id="joining2" type="number" id="inputNum" class="item">
                <span>=</span>
                <input id="answer" onchange="getResult()" type="number" class="item" placeholder="answer"
                       autofocus required autocomplete="off">
                <button onclick="getResult()" id="getResult" class="item">OK</button>
            </div>


            <div class="result-block">
                <div class="correct">
                    <span class="ans-item">CORRECT</span>
                    <span id="correct" class="numberOfCorrect">0</span>
                </div>

                <div class="incorrect">
                    <span class="ans-item">INCORRECT</span>
                    <span id="incorrect" class="numberOfIncorrect">0</span>
                </div>
            </div>

                <div class="refresh-block">
                    <p class="refresh-by-space">
                        Press the space to restart game</p>
                    <button onclick="refreshGame()" onchange="refreshGame()" id="refresh"  class="refresh">Restart game</button>
                </div>
        </div>
    </div>
</section>

{% include "components/footer.html" %} {% endblock %}